{% extends "layout.html" %}
{% block body %}

<div class="message">
  <h1>
    FAQ
  </h1>
    {% if dayguest == True: %}
    <p>
      <h4>Vraag:  Leeeeuk, feeest! Maar eh, wanneer moet ik waar zijn?</h4>
      Antwoord: Jeeej, feeest! Op (...) wordt ons huwelijk voltrokken in een ceremonie om (...) uur in (...). We verwachten om ongeveer rond (...) uur te kunnen starten met de huwelijksreceptie, bij (...). Vanaf (...) uur verplaatst het feest zich naar onze diner- en feestlocatie te (...) en starten we rond (...) uur met de fotoshoot. Voor het diner verwachten we iedereen om (...) uur in (...) en vanaf (...) uur zal het avondfeest beginnen. Voor een uitgebreider overzicht, zie het tabblad ‘planning’ op deze website. 
    </p>
    <p>
      <h4>Vraag:  Welke mogelijkheden zijn er voor vervoer tussen de verschillende locaties?</h4>
      Antwoord: Vanaf (...) is het ongeveer 8 minuten (650 meter) lopen naar (...). Als je met de auto komt en parkeert op een van de aangegeven parkeerplaatsen, is het vanaf de parkeerplaats maximaal 10 minuten lopen naar ofwel (...) of (...). Als je met de trein naar (...) komt, zijn de loopafstanden ongeveer vijf minuten langer. Voor het verplaatsen van (...) naar (...) vragen we jullie om jullie eigen vervoer te gebruiken.
    </p>
    <p>
      <h4>Vraag:</b> Zijn mijn kinderen welkom op de bruiloft?</h4>
      Antwoord:</b> Zeker! Wij vinden het heerlijk als jullie kinderen ook onderdeel kunnen zijn van onze heugelijke dag. We laten een springkussen komen in (...) en zorgen voor voldoende materiaal zodat de kinderen zich kunnen vermaken. Wel willen we jullie vragen om zelf de inschatting te maken of je zoon of dochter even stil kan zijn tijdens de huwelijksceremonie in (...). Als je zelf niets wil missen van de ceremonie of inschat dat later aansluiten beter past bij jouw kind, voel je dan vrij om je zoon of dochter later op de dag even op te halen. Overleggen kan altijd met Kevin en Myrthe maar ook met onze ceremoniemeesters.
    </p>
    <p>
      <h4>Vraag:</b> Wat kan ik het bruidspaar geven?</h4>
      Antwoord: Na bijna vijf jaar samen zijn, hebben wij reeds alles wat we nodig hebben en waarvan we konden dromen. Wil je ons toch met iets verrassen? Dan vinden we dat ontzettend lief en hopen we dat dit in een envelopje zal passen.
    </p>
    <p>
      <h4>Vraag:</b> Is er een dresscode?</h4>
      Antwoord: Kort antwoord: nee! We vinden het een fijn idee dat iedereen kan dragen waar een ieder zich fijn in voelt op deze feestelijke dag.
    </p>
    <p>
      <h4>Vraag:</b> Ik wil graag iets voordragen op de bruiloft. Wanneer kan ik dat het beste doen?</h4>
      Antwoord: Mocht dit voor jou een vraag zijn, dan kun je het beste even contact op te nemen met een van onze ceremoniemeesters. Je kunt ze voor deze en alle andere organisatorische vragen appen of bellen via de nummers op de algemene informatiepagina van deze website.
    </p>
    <p>
      <h4>Vraag:</b> Wegens omstandigheden wil ik graag later aansluiten of tussendoor het feest verlaten. Kan dat?</h4>
      Antwoord: Natuurlijk mag dat! Voor een actuele update over waar we ons precies bevinden, kun je het beste even contact opnemen met de ceremoniemeester (...). Zie hiervoor de contactgegevens op de algemene informatiepagina van deze website.
    </p>
    <p>
      <h4>Vraag:</b> Waar kan ik parkeren bij de feestlocatie in (...)?</h4>
      Antwoord: Om overlast voor de buren te voorkomen, willen we jullie vragen om in de rood en blauw gemarkeerde gebieden te parkeren in (...). Zie hiervoor de afbeelding onder het kopje parkeren feestlocatie op het tabblad ‘locaties’ van deze website. Ook zullen de parkeerplaatsen ter plekke aangegeven worden.
    </p>
    <p>
      <h4>Vraag:</b> Na het feest wil ik graag ergens in de buurt blijven logeren. Hebben jullie tips?</h4>
      Antwoord: Op vier minuten rijden van de feestlocatie bevindt zich (...).
    </p>
  {% else: %}
  <p>
    <h4>Vraag: Waar kan ik parkeren bij de feestlocatie in (...)?</h4>
    Antwoord: Om overlast voor de buren te voorkomen, willen we jullie vragen om in de rood en blauw gemarkeerde gebieden te parkeren in (...). Zie hiervoor de afbeelding onder het kopje parkeren feestlocatie op het tabblad ‘locaties’ van deze website.
  </p>
  <p>
    <h4>Vraag: Wat kan ik het bruidspaar geven?</h4>
    Antwoord: Na bijna vijf jaar samen zijn, hebben wij reeds alles wat we nodig hebben en waarvan we konden dromen. Wil je ons toch met iets verrassen? Dan vinden we dat ontzettend lief en hopen we dat dit in een envelopje zal passen.
  </p>
  <p>
    <h4>Vraag: Is er een dresscode?</h4>
    Antwoord: Kort antwoord: nee! We vinden het een fijn idee dat iedereen kan dragen waar een ieder zich fijn in voelt op deze feestelijke dag.
  </p>
  <p>
    <h4>Vraag: Ik wil graag iets voordragen op de bruiloft. Wanneer kan ik dat het beste doen?</h4>
    Antwoord: Mocht dit voor jou een vraag zijn, dan kun je het beste even contact op te nemen met een van onze ceremoniemeesters. Je kunt ze voor deze en alle andere organisatorische vragen appen of bellen via de nummers op de algemene informatiepagina van deze website.
  </p>
  <p>
    <h4>Vraag: Wegens omstandigheden wil ik graag later aansluiten of tussendoor het feest verlaten. Kan dat?</h4>
    Antwoord: Natuurlijk mag dat! Voor een actuele update over waar we ons precies bevinden, kun je het beste even contact opnemen met de ceremoniemeester (...). Zie hiervoor de contactgegevens op de algemene informatiepagina van deze website.
  </p>
  <p>
    <h4>Vraag:  Na het feest wil ik graag ergens in de buurt blijven logeren. Hebben jullie tips?</h4>
    Antwoord: Op vier minuten rijden van de feestlocatie bevindt zich (...).
  </p>
  <p>
  {% endif %}
  <h4>Vraag:  Wat is 'Snappshot'?</h4>
  Antwoord: Snappshot is een app waarmee je makkelijk foto's kan maken en delen, zodat iedereen met de app ze ook kan bekijken. Installeer de app, voer de code in, en je kunt beginnen. Voel je vooral vrij om alle leuke momenten die je meemaakt op onze trouwdag vast te leggen! De foto's zullen realtime op een scherm worden getoond op de feestlocatie in (...).
  </p>
  <h3>Code: 22722</h3>
  <div class="info row">
    <a href="https://www.snappshot.party/ios" target="_blank"><img src="https://my.snappshot.party/images/buy/getitonappstore.png"></a>
    <a href="https://www.snappshot.party/android" target="_blank"><img src="https://my.snappshot.party/images/buy/getitonplay.png"></a>
  </div>
</div>

{% endblock %}