<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kevin en Myrthe gaan trouwen!</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
	<meta name='viewport' content='width=device-width,initial-scale=1'>
</head>
<body>
    <div class="container">
        <div class="header"></div>
        {% if name: %}
        <nav>
            <a href="/">
                <div class="navbutton">
                    <h2>Info</h2>
                </div>
            </a>
            <a href="/faq">
                <div class="navbutton">
                    <h2>FAQ</h2>
                </div>
            </a>
            <a href="/planning">
                <div class="navbutton">
                    <h2>Planning</h2>
                </div>
            </a>
            <a href="/location">
                <div class="navbutton">
                    <h2>Locatie</h2>
                </div>
            </a>
            <a href="/preferences">
                <div class="navbutton">
                    <h2>Wijzig details</h2>
                </div>
            </a>
            {% if admin: %}
            <a href="/admin">
                <div class="navbutton">
                    <h2>Beheer</h2>
                </div>
            </a>
            {% endif %}

        </nav>
        {% endif %}
            <div class="content">
            {% block body %}{% endblock %}
        </div>
        <div class="bottom"></div>
    </div>
</body>
</html>